*{
    box-sizing: border-box;
}

body, html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin:40px;
}

.map-zone{
    margin:30px;
}

/* .link-zone{

} */

.quests-links{
    display: flex;
    justify-content: center;
}

.quests-links a:link {
    margin:5px;
}
#icon {
    width: 25px;
}